<head>
    <meta charset="utf-8" />
    <title>Photo Album Generator</title>
    <link rel="stylesheet" href="css\stylesheet.css">
 </head>
 <div class="container">
    <h2>Reset Password</h2>
    <form (ngSubmit)="onResetPassword()">
       <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
       </div>
       <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
    <div *ngIf="success" class="alert alert-success role="alert">{{ success }}
 </div>
 <div *ngIf="error" class="alert alert-danger role="alert">{{ error }}</div>
 </div>