<head>
    <style>
        .p-3.mb-2.bg-light.text-dark,
        .container.bg-faded {
            min-height: 100vh;
        }
    </style>
</head>

<div class="p-3 mb-2 bg-light text-dark">
    <div class="container bg-faded">
        <h1 class="text-center">Sign Up</h1>
        <div class="col-md-6 offset-md-3 mt-5">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text" formControlName="fName" class="form-control form-control-lg" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" formControlName="lName" class="form-control form-control-lg" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" formControlName="userName" class="form-control form-control-lg" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" formControlName="pwd" class="form-control form-control-lg" />
                </div>
                <!-- <div class="form-group">
                    <div class="col-sm-6">
                        <label for="input-type">Account Type</label>
                        <div id="input-type" class="row" style="margin-top: 5px;">
                            <div class="col-sm-3">
                                <label class="radio-inline">
                                    <input formControlName="userType" value="admin" type="radio" /> Admin
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label class="radio-inline">
                                    <input formControlName="userType" value="guest" type="radio" /> Guest
                                </label>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <br> -->
                <div>
                    <button class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        Sign Up
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>