<!-- importing folder icon from bootstrap -->

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <!-- adding grey background to entire page -->
  <style>
    .p-3.mb-2.bg-light.text-dark,
    .container.bg-faded {
      min-height: 100vh;
    }

  </style>
</head>
<!-- Tiles for album list list spread -->

<div class="p-3 mb-2 bg-light text-dark">
  <div class="container bg-faded">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-7">
        <h1 class="text-end">My Albums</h1>
      </div>
      <div class="col-md-5 d-flex justify-content-end">
        <button type="button" class="btn btn-success" (click)="onNewDirectory()">Add New Directory</button>
        <button type="button" class="btn btn-dark ms-3" (click)="onSlideshow()">Slideshow</button>
        <button type="button" class="btn btn-outline-danger ms-3" (click)="signOut()">Sign Out</button> <!-- Added sign out button -->
      </div>
    </div>
    <div class="row">
    </div>
    <!-- When atleast 1 album exists in DB -->
    <div class="row" *ngIf="albums.length != 0">
      <!-- Loop over the albums -->
      <div class="col-4" *ngFor="let album of albums">
        <!-- bootstrap card tile -->
        <div class="card card-body mb-2 text-center">
          <div class="dropdown">
            <a class="btn kebab-container" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical kebab"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="onLoadImages(album)">Update Tags</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="onDelete(album)">Delete</a></li>
            </ul>
          </div>
          <i class="bi bi-folder2-open"></i>
          <h6 class="mb-0">{{album.dirpath}}</h6>
        </div>
      </div>
    </div>

    <!-- Message when no album exists -->
    <div class="row" *ngIf="!isLoading && albums.length == 0">
      <h5 style="text-align: center; margin-top:40px;">You have no albums!</h5>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete {{selectedAlbum.dirpath}}?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this album?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="deleteAlbum(selectedAlbum.id)">Yes</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
